<html>
<head>
    <title>Document Register</title>
</head>
<body>
<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>
<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            Document Upload Page
        </div>
        <div class="card-body">
            <form id="docUploadForm" method="POST" th:action="@{/doc/upload}" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-4">
                        <label for="docId">Document Id</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" name="docId" id="docId" th:value="${docId}" readonly/>

                    <div class="col-4">
                        <span id="docIdError"></span>
                    </div>
                </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="docObj">Upload</label>
                    </div>
                    <div class="col-4">
                        <input type="file" name="docObj"/>
                    </div>
                    <div class="col-4">
                        <span id="docUploadError"></span>
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Upload">
            </form>
            <table class="table">
                <tr>
                    <th>Doc Name</th>
                    <th>Operations</th>
                </tr>
                <tr th:each="ob:${list}">
                    <td th:text="${ob[1]}"></td>
                    <td>
                        <a th:href="@{/doc/delete(id=${ob[0]})}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>DELETE</a>
                        <a th:href="@{/doc/download(id=${ob[0]})}" class="btn btn-success">Download</a>
                    </td>
                </tr>
            </table>


        </div>
        <div class="card-footer" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

<!--<script th:src="@{/myjs/doc.js}" type="text/javascript">-->

</script>
</body>
</html>