<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Forgot Password Page </title>
</head>
<body>
<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>

<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            Forgot Password Page
        </div>
        <div class="card-body">
            <form id="forgotPasswordForm" method="POST" th:action="@{/user/genpassword}">

                <div class="row">
                    <div class="col-4">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="email" name="email" type="email">
                    </div>
                    <div class="col-4">
                        <span id="emailError"></span>
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Generate Password">
            </form>

        </div>
        <div class="card-footer" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

<script th:src="@{/myjs/forgotpass.js}" type="text/javascript">

</script>
</body>
</html>