<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>

<div class="container">
    <a th:href="@{/om/excel} "class="btn btn-primary"> Excel Export </a>
    <div class="card">
        <div class="card-header bg-dark text-center text-white">
            Order Method Data Page
        </div>
        <div class="card-body">
            <table class="table table-hover" >
                <tr>
                    <th>Id</th>
                    <th>Mode</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Order Accept</th>
                    <th>Description</th>
                    <th>Operations</th>
                </tr>

                <tr th:each="ob:${list}">
                    <td th:text="${ob.orderMethodId}"></td>
                    <td th:text="${ob.orderMode}"></td>
                    <td th:text="${ob.orderCode}"></td>
                    <td th:text="${ob.orderType}"></td>
                    <td th:text="${ob.orderAccept}"></td>
                    <td th:text="${ob.description}"></td>
                    <td>
                        <a th:href="@{/om/edit/(id=${ob.orderMethodId})}" class="btn btn-warning">EDIT</a>
                        <a th:href="@{/om/delete/(id=${ob.orderMethodId})}" class="btn btn-danger">DELETE</a>
                    </td>
                </tr>

            </table>
        </div>
        <div class="card-footer" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

</body>
</html>