<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header bg-info text-center text-white">
            Order method Update
        </div>
        <div class="card-body">
            <form id="orderMethodRegisterForm" method="post" th:action="@{/om/update}" th:object="${orderMethodObject}">
                <div class="row">
                    <div class="col-4">
                        <label>Order Id</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" readonly th:field="*{id}" type="text">
                    </div>
                    <div class="col-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Order Mode</label>
                    </div>
                    <div class="col-4">
                        <input th:field="*{orderMode}" type="radio" value="Sale"> Sale
                        <input th:field="*{orderMode}" type="radio" value="Purchase"> Purchase
                    </div>
                    <div class="col-4">
                        <span id="orderModeError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Order Code</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" th:field="*{orderCode}" type="text">
                    </div>
                    <div class="col-4">
                        <span id="orderCodeError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Order Type</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" th:field="*{orderType}">
                            <option value="">-SELECT-</option>
                            <option value="LIFO">LIFO</option>
                            <option value="FIFO">FIFO</option>
                            <option value="FCFO">FCFO</option>
                            <option value="FEFO">FEFO</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="orderTypeError"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-4">
                        <label>Order Accept</label>
                    </div>
                    <div class="col-4">

                        <input th:field="*{orderAccept}" type="checkbox" value="Multi-Model"> Multi-model
                        <input th:field="*{orderAccept}" type="checkbox" value="Accept Return"> Accept Return

                    </div>
                    <div class="col-4">
                        <span id="orderAcceptError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Description</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" cols="20" rows="5" th:field="*{description}"></textarea>
                    </div>
                    <div class="col-4">
                        <span id="descriptionError"></span>
                    </div>
                </div>

                <button class="btn btn-success" type="submit">Update Order</button>

            </form>

        </div>
        <!--        <div class="card-footer" th:if="${message!=null}">-->
        <!--            <span th:text="${message}"></span>-->
        <!--        </div>-->
    </div>
</div>
<script th:src="@{/myjs/om.js}"></script>
</body>
</html>