<html>
<head>
    <title>Order Method Register Page</title>
</head>
<body>

<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>

<div class="container">
    <div class="card">
        <div class="card-header bg-info text-center text-white">
            Order method Register page
        </div>
        <div class="card-body">
            <form id="orderMethodRegisterForm" method="post" th:action="@{/om/save}">
                <div class="row">
                    <div class="col-4">
                        <label>Order Mode</label>
                    </div>
                    <div class="col-4">
                        <input id="orderModeSale" name="orderMode" type="radio" value="Sale"> Sale
                        <input id="orderModePurchase" name="orderMode" type="radio" value="Purchase"> Purchase
                    </div>
                    <div class="col-4">
                        <span id="orderModeError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="orderCode">Order Code</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="orderCode" name="orderCode" type="text">
                    </div>
                    <div class="col-4">
                        <span id="orderCodeError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Order Type</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="orderType" name="orderType">
                            <option value="">-SELECT-</option>
                            <option value="LIFO">LIFO</option>
                            <option value="FIFO">FIFO</option>
                            <option value="FCFO">FCFO</option>
                            <option value="FEFO">FEFO</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="orderTypeError"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-4">
                        <label>Order Accept</label>
                    </div>
                    <div class="col-4">

                        <input name="orderAccept" type="checkbox" value="Multi-Model"> Multi-model
                        <input name="orderAccept" type="checkbox" value="Accept Return"> Accept Return

                    </div>
                    <div class="col-4">
                        <span id="orderAcceptError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Description</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" cols="20" id="description" name="description"
                                  rows="5"></textarea>
                    </div>
                    <div class="col-4">
                        <span id="descriptionError"></span>
                    </div>
                </div>

                <button class="btn btn-success" type="submit">Register Order</button>

            </form>

        </div>
        <div class="card-footer" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>
<script th:src="@{/myjs/om.js}"></script>
</body>
</html>