<html>
<head>
    <title>Order Method Data Page</title>
</head>
<body>

<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>
<div class="container">
    <a class="btn btn-primary" th:href="@{/om/excel} "> Excel Export </a>
    <a class="btn btn-primary" th:href="@{/om/charts}"> Chart</a>
    <div class="card">
        <div class="card-header bg-dark text-center text-white">
            Order Method Data Page
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Mode</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Order Accept</th>
                    <th>Description</th>
                    <th>Operations</th>
                </tr>

                <tr th:each="ob:${list}">
                    <td th:text="${ob.id}"></td>
                    <td th:text="${ob.orderMode}"></td>
                    <td th:text="${ob.orderCode}"></td>
                    <td th:text="${ob.orderType}"></td>
                    <td th:text="${ob.orderAccept}"></td>
                    <td th:text="${ob.description}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/om/edit(id=${ob.id})}">EDIT</a>
                        <a class="btn btn-danger" th:href="@{/om/delete(id=${ob.id})}">DELETE</a>
                    </td>
                </tr>

            </table>
        </div>
        <div class="card-footer" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

</body>
</html>