<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sale Order Data Page </title>
</head>
<body>
<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>

    <div class="container">
        <div class="card">
            <div class="card-header">
                Sale Order Data Page
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>Sale Id</th>
                        <th>Order Code</th>
                        <th>Reference Number</th>
                        <th>Stock Source</th>
                        <th>Status</th>
                        <th>Shipment Type</th>
                        <th>User Type</th>
                        <th>Operations</th>
                    </tr>

                    <tr th:each="ob:${list}">
                       <td th:text="${ob.id}"></td>
                       <td th:text="${ob.orderCode}"></td>
                       <td th:text="${ob.refNum}"></td>
                       <td th:text="${ob.stockSource}"></td>
                       <td th:text="${ob.status}"></td>
                       <td th:text="${ob.st.id}"></td>
                       <td th:text="${ob.customer.id}"></td>
                       <td>
                           <span th:if="${ob.status == 'READY' || ob.status=='OPEN'}">
                               <a th:href="@{/so/parts(id=${ob.id})}" class="btn btn-warning">Add Part</a>
                           </span>

                           <span th:if="${ob.status == 'CONFIRM' || ob.status == 'INVOICED' || ob.status == 'SHIPPED' || ob.status== 'CANCELLED'}">
                               <a th:href="@{/so/parts(id=${ob.id})}" class="btn btn-success">View </a>
                           </span>

                           <span th:if="${ob.status == 'CONFIRM' }">
                               <a th:href="@{/so/generate(soId=${ob.id})}"> GENERATE INVOICE</a>
                           </span>

                           <span th:if="${ob.status == 'INVOICED' }">
                               <a th:href="@{/so/printinvoice(soId=${ob.id})}" class="btn btn-success">PRINT INVOICE</a>
                           </span>


                           <span th:if="${ob.status == 'OPEN' || ob.status == 'READY' || ob.status == 'CONFIRM'}">
                               <a th:href="@{/so/cancel(soId=${ob.id})}">Cancel Order </a>
                           </span>

                       </td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

</body>

</html>