<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sale Order Register Page </title>
</head>
<body>
<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>
<div class="container">
    <div class="card">
        <div class="card-header text-center bg-dark text-white">
            Sale Order Register Page
        </div>
        <div class="card-body">

            <form id="saleOrderRegisterForm" method="post" th:action="@{/so/save}">

                <!--                ROW -1-->
                <div class="row">
                    <div class="col-4">
                        <label>Order Code </label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="orderCode" id="orderCode" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="orderCodeError"></span>
                    </div>

                </div>
                <!--                SHipment Code-->
                <div class="row">
                    <div class="col-4">
                        <label>Shipment Code</label>
                    </div>
                    <div class="col-4">
                        <select name="st.id" id="stdId" class="form-control">
                            <option value="">--SELECT--</option>
                            <option th:each="ob:${sos}" th:text="${ob.value}" th:value="${ob.key}"/>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="shipmentCodeError"></span>
                    </div>

                </div>

                <!--                WhUSerType-->
                <div class="row">
                    <div class="col-4">
                        <label>Customer</label>
                    </div>
                    <div class="col-4">
                        <select name="customer.id" id="vendorId" class="form-control">
                            <option value="">--SELECT--</option>
                            <option th:each="ob:${wh}" th:text="${ob.value}" th:value="${ob.key}"/>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="userTypeError"></span>
                    </div>

                </div>

                <!--                ROW -2-->
                <div class="row">
                    <div class="col-4">
                        <label>Reference Number </label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="refNum" name="refNum" type="text">
                    </div>
                    <div class="col-4">
                        <span id="refNumError"></span>
                    </div>

                </div>

                <!--                ROW-3   -->

                <div class="row">
                    <div class="col-4">
                        <label>Stock Mode</label>
                    </div>
                    <div class="col-4">
                        <input id="stockModeGrade" name="stockMode" type="radio" value="GRADE"> GRADE
                        <input id="stockModeMargin" name="stockMode" type="radio" value="MARGIN"> MARGIN
                    </div>
                    <div class="col-4">
                        <span id="stockModeError"></span>
                    </div>

                </div>


<!--            ROW - 4-->
                <div class="row">
                    <div class="col-4">
                        <label>Stock Source</label>
                    </div>
                    <div class="col-4">
                        <select name="stockSource" id="stockSource" class="form-control">
                            <option value="">-SELECT-</option>
                            <option value="OPEN">-OPEN-</option>
                            <option value="AVAIL">AVAIL</option>
                            <option value="REFUND">REFUND</option>
                        </select>

                    </div>
                    <div class="col-4">
                        <span id="stockSourceError"></span>
                    </div>
                </div>

                <!--                ROW 5 -->

                <div class="row">
                    <div class="col-4">
                        <label>Default Status</label>
                    </div>
                    <div class="col-4">
                        <input id="status" name="status" type="text" class="form-control" value="OPEN" readonly>
                    </div>
                    <div class="col-4">
                        <span id="statusError"></span>
                    </div>

                </div>

                <!--                    ROW - 6 -->


                <div class="row">
                    <div class="col-4">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="col-4">
                        <span id="descriptionError"></span>
                    </div>

                </div>

                <button class="btn btn-success" type="submit"><i class="fas fa-plus"></i>Create Sale Order</button>
            </form>

        </div>

        <div class="card-footer" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

<script th:src="@{/myjs/so.js}" type="text/javascript">

</script>
</body>
</html>