<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            SO Parts Page
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>Order Code</th>
                    <td th:text="*{so.orderCode}"></td>
                    <th>Status</th>
                    <td th:text="*{so.status}"></td>
                </tr>
            </table>

            <form th:action="@{/so/addpart}" method="post" th:if="${so.status == 'OPEN' || so.status == 'READY'} ">
                <div class="row">
                    <div class="col-3">
                        <div><label> Select Item</label>
                        </div>
                        <select name="part.id" id="partId" class="form-control">
                            <option value="">--SELECT--</option>
                            <option th:each="ob:${part}" th:text="${ob.value}" th:value="${ob.key}"></option>
                        </select>
                    </div>
                    <div class="col-4">
                        <div>
                            <label>Quantity</label>
                        </div>
                        <div>
                            <input type="number" name="qty" class="form-control">
                        </div>
                    </div>

                    <input type="hidden" name="so.id" th:value="${so.id}">
                    <div class="col-4 d-grid">
                        <div>
                            <br>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>

                    </div>
                </div>
            </form>

            <table class="table table-hover">

                <tr>
                    <th>Serial No</th>
                    <th>Item </th>
                    <th>Base Cost </th>
                    <th>Qty</th>


                </tr>
                <tr th:each="ob,count:${sos}">
                    <td th:text="${count.count}"></td>
                    <td th:text="${ob.part.partCode}"></td>
                    <td th:text="${ob.part.partBaseCost}"></td>
                    <td >
                        <span th:text="${ob.qty}"></span>
                        <span th:if="${so.status == 'READY'}">
                            <a class="btn btn-success" th:href="@{/so//increaseqty(soId=${so.id},dtlId=${ob.id})}">+</a>
                        </span >
                        <span th:if="${ob.qty > 1 && so.status == 'READY'} ">
                            <a class="btn btn-success" th:href="@{/so//decreaseqty(soId=${so.id},dtlId=${ob.id})}">-</a>

                        </span>
                    </td>

                    <td>
                        <span th:if="${so.status =='READY'}" ><a th:href="@{/so/deletesshipDtl(dtlId=${ob.id},soId=${so.id})}" class="btn btn-warning">Remove</a></span>
                    </td>

                </tr>
            </table>

            <span th:if="${so.status == 'READY'} ">
                            <a th:href="@{/so/confirm(soId=${so.id})}" class="btn btn-success">Create Shipment </a>

            </span>
        </div>

    </div>
</div>
</div>
</body>
</html>