<html xmlns:th="https://www.thymeleaf.org/">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header text-center bg-dark text-white">
            Shipment Type Edit
        </div>
        <div class="card-body">
            <form th:action="@{/st/update}" method="post" th:object="${shipmentTypeData}">
                <div class="row">
                    <div class="col-4">
                        <label>Shipment Id </label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{id}" class="form-control" readonly>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Shipment Mode </label>
                    </div>
                    <div class="col-4">
                        <select th:field="*{shipmentMode}" class="form-control">
                            <option value="">-SELECT-</option>
                            <option value="AIR">AIR</option>
                            <option value="TRUCK">TRUCK</option>
                            <option value="SHIP">SHIP</option>
                            <option value="TRAIN">TRAIN</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="shipmentModeError"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Shipment Code </label>
                    </div>
                    <div class="col-4">
                        <input type="text" th:field="*{shipmentCode}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="shipmentCodeError"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Enable Shipment</label>
                    </div>
                    <div class="col-4">
                        <input type="radio" th:field="*{enableShipment}" value="YES"> YES
                        <input type="radio" th:field="*{enableShipment}" value="YES"> No
                    </div>
                    <div class="col-4">
                        <span id="enableShipmentError"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Shipment Grade </label>
                    </div>
                    <div class="col-4">
                        <input type="radio" th:field="*{shipmentGrade}" value="A"> A
                        <input type="radio" th:field="*{shipmentGrade}" value="B"> B
                        <input type="radio" th:field="*{shipmentGrade}" value="C"> C
                    </div>
                    <div class="col-4">
                        <span id="shipmentGradeError"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Description</label>
                    </div>
                    <div class="col-4">
                        <textarea th:field="*{description}" class="form-control"></textarea>
                    </div>
                    <div class="col-4">
                        <span id="descriptionError"></span>
                    </div>

                </div>

                <input type="submit" value="Update Shipment Type" class="btn btn-success">

            </form>

        </div>

        <div class="card-footer">
            Developed by me :)
            <!--            <span th:text="${message}"></span>-->
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/myjs/shipmentType.js}">
</script>


</body>
</html>
