<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shipping Register Page </title>
</head>
<body>
<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Shipping Register Page </h1>
        </div>
        <div class="card-body">
            <form th:action="@{/sp/save}" method="post">

                <!--        Shipment Code -->
                <div class="col-8">
                    <div class="row">
                        <div class="col-4">
                            <label>Shipping Code </label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="shippingCode" name="shippingCode" class="form-control">
                            <span id="shippingCodeError"></span>
                        </div>
                    </div>

                    <!--          Shipement Reference Number -->
                    <div class="row">
                        <div class="col-4">
                            <label>Shipping Reference Number</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="shipRefNum" name="shipRefNum" class="form-control">
                            <span id="shipRefNumError"></span>
                        </div>

                    </div>

                    <!-- Courier Reference Number -->
                    <div class="row">
                        <div class="col-4">
                            <label>Courier Reference Number</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="courierRefNum" name="courierRefNum" class="form-control">
                            <span id="courierRefNumError"></span>
                        </div>

                    </div>

                    <!--    Contact Details     -->
                    <div class="row">
                        <div class="col-4">
                            <label>Contact Details </label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="contactDetails" name="contactDetails" class="form-control">
                            <span id="contactDetailsError"></span>
                        </div>

                    </div>

                    <!--        Sale Order Code Integration             -->
                    <div class="row">
                        <div class="col-4">
                            <label>Sale Order Code </label>
                        </div>
                        <div class="col-4">
                            <select name="so.id" id="saleOrderCode" class="form-control">
                                <option value="">--SELECT--</option>
                                <option th:each="ob:${soc}" th:text="${ob.value}" th:value="${ob.key}"></option>
                            </select>
                        </div>

                        <div>
                            <span id="saleOrderCodeError"></span>
                        </div>

                    </div>

                    <!-- Description -->
                    <div class="row">
                        <div class="col-4">
                            <label>Description </label>
                        </div>
                        <div class="col-4">
                            <textarea id="description" name="description" class="form-control"></textarea>
                            <span id="descriptionError"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Bill To Address</label>
                        </div>
                        <div class="col-4">
                            <textarea name="billToAddress" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-4">
                            <label>Shipment To Address</label>
                        </div>

                        <div class="col-4">
                            <textarea name="shipToAddress" class="form-control"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Create Shipping</button>
                </div>
            </form>

        </div>

        <div class="card-footer" th:if="${message != ''}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

</body>
</html>