<html xmlns:th="https://www.thymeleaf.org/">
<head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">


</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header text-center bg-dark text-white">
            Shipment Type Edit
        </div>
        <div class="card-body">
            <form id="shipmentTypeRegisterForm" method="post" th:action="@{/st/update}" th:object="${shipmentTypeData}">
                <div class="row">
                    <div class="col-4">
                        <label>Shipment Id </label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" readonly th:field="*{id}" type="text">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Shipment Mode </label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" th:field="*{shipmentMode}">
                            <option value="">-SELECT-</option>
                            <option value="AIR">AIR</option>
                            <option value="TRUCK">TRUCK</option>
                            <option value="SHIP">SHIP</option>
                            <option value="TRAIN">TRAIN</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="shipmentModeError"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Shipment Code </label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" th:field="*{shipmentCode}" type="text">
                    </div>
                    <div class="col-4">
                        <span id="shipmentCodeError"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Enable Shipment</label>
                    </div>
                    <div class="col-4">
                        <input th:field="*{enableShipment}" type="radio" value="YES"> YES
                        <input th:field="*{enableShipment}" type="radio" value="YES"> No
                    </div>
                    <div class="col-4">
                        <span id="enableShipmentError"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Shipment Grade </label>
                    </div>
                    <div class="col-4">
                        <input th:field="*{shipmentGrade}" type="radio" value="A"> A
                        <input th:field="*{shipmentGrade}" type="radio" value="B"> B
                        <input th:field="*{shipmentGrade}" type="radio" value="C"> C
                    </div>
                    <div class="col-4">
                        <span id="shipmentGradeError"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Description</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" th:field="*{description}"></textarea>
                    </div>
                    <div class="col-4">
                        <span id="descriptionError"></span>
                    </div>

                </div>

                <input class="btn btn-success" type="submit" value="Update Shipment Type">

            </form>

        </div>

        <div class="card-footer">
            Developed by me :)
            <!--            <span th:text="${message}"></span>-->
        </div>
    </div>
</div>
<script th:src="@{/myjs/shipmentType.js}" type="text/javascript">
</script>


</body>
</html>
