<html>

<head>
    <title>Uom Chart Page</title>
</head>
<body>
<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>

<div class="container">
    <div class="card">
        <div class="card-header">
            Uom Chart Page
        </div>
        <div class="card-body">
            <img alt="UOM Type pie chart not found " th:src="@{/uomTypePieChart.jpeg}">
            <img alt="Order Mode bar chart not found" th:src="@{/uomTypeBarChart.jpeg}">
        </div>
    </div>

</div>
</body>
</html>