<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            Uom Chart Page
        </div>
        <div class="card-body">
            <img alt="UOM Type pie chart not found " th:src="@{/uomTypePieChart.jpeg}">
            <img alt="Order Mode bar chart not found" th:src="@{/uomTypeBarChart.jpeg}">
        </div>
    </div>

</div>
</body>
</html>