<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            Uom Edit Page
        </div>
        <div class="card-body">
            <form id="uomRegisterForm" method="post" th:action="@{/uom/update}" th:object="${uomObject}">
                <div class="row">
                    <div class="col-4">
                        <label>Uom Id</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="uomId" readonly th:field="*{id}" type="text">
                    </div>
                    <div class="col-4">

                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Uom Type</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" th:field="*{uomType}">
                            <option value="">-SELECT-</option>
                            <option value="Packing">-Packing-</option>
                            <option value="No Packing">-No Packing-</option>
                            <option value="NA">-NA-</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="uomTypeError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Uom Model</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="uomModel" th:field="*{uomModel}" type="text">
                    </div>
                    <div class="col-4">
                        <span id="uomModelError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Description</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" th:field="*{description}" type="text"></textarea>
                    </div>
                    <div class="col-4">
                        <span id="descriptionError"></span>
                    </div>
                </div>

                <input class="btn btn-success" type="submit" value="Update Uom">
            </form>

        </div>
        <div class="card-footer">

        </div>
    </div>
</div>

<script th:src="@{/myjs/uom.js}" type="text/javascript">

</script>
</body>
</html>