<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            Uom Register Page
        </div>
        <div class="card-body">
            <form id="uomRegisterForm" method="POST" th:action="@{/uom/save}">
                <div class="row">
                    <div class="col-4">
                        <label for="uomType">Uom Type</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="uomType" name="uomType">
                            <option value="">-SELECT-</option>
                            <option value="Packing">-Packing-</option>
                            <option value="No Packing">-No Packing-</option>
                            <option value="NA">-NA-</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="uomTypeError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="uomModel">Uom Model</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="uomModel" name="uomModel" type="text">
                    </div>
                    <div class="col-4">
                        <span id="uomModelError"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="col-4">
                        <span id="descriptionError"></span>
                    </div>
                </div>

                <input class="btn btn-success" type="submit" value="Create Uom">
            </form>

        </div>
        <div class="card-footer" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>

<script th:src="@{/myjs/uom.js}" type="text/javascript">

</script>
</body>
</html>